In [2]:
import pandas as pd

In [3]:
source = pd.read_csv("source_reviews_outputfile_2018-2-19_shampoo_sentiment_hul.txt",sep='~')
tree = pd.read_csv("treemap_outputfile_mapped_2018-2-19_shampoo_sentiment_hul.txt",sep='~')
mapp = pd.read_csv("shampoo_mapp.csv")

len(source.index)

In [4]:
source=source.drop_duplicates()
del source['product_id']

In [5]:
len(tree.index)

59705

In [6]:
tree=tree.drop_duplicates()

In [7]:
map_source = source.merge(mapp, on='source_product_id')
del map_source['product_id']
#out_prod_tree_date = tree.merge(mapp, on='source_product_id')

In [8]:
mapped_comp = (map_source.brand_name.unique())

In [131]:
x=[]
for loc in mapped_comp:
    loc = str(loc)   #here 'nan' is converted to a string to compare with if
    if loc != 'nan':
        x.append(loc)
mapped_comp=x

In [9]:
import calendar
import datetime
import dateutil
today = datetime.datetime.now()
i=1
out_t=[]
colum = ["Brand_name","Total_Number_of_Reviews","Month","Year"]
for c in mapped_comp:
    print c
    cnt_p = 0
    cnt = 0
    cnt_n=0
    comp_rev = map_source[map_source.brand_name == c]
    company = c
    for i in range (1,13):
        cnt =0
#        cnt_p =0
 #       cnt_n=0
        for row in comp_rev.to_dict("records"):
            #print (row)
            dt = dateutil.parser.parse(row['review_date'])
            if dt.year == today.year - 1:
                year = dt.year
                if dt.month == i:
                    #if row['sentiment_type'].strip() == 'negative':
                     #   cnt_n = cnt_n+1
                    #else:
                      #  cnt_p =cnt_p+1
                    cnt = cnt +1
        if cnt > 0 :
            row2 = [company,cnt,i,year]#,float(cnt_p/float(cnt))*100]
            out_t.append(row2)
out_t=pd.DataFrame(out_t)        
out_t.columns=colum

Head & Shoulders
Pantene
l'oreal
Dove

In [133]:
out_t.to_csv("1_task_12_months_review_brand_wise_shampoo.csv",index=False)

In [10]:
out_prod_tree_date = tree.merge(map_source[['source_review_id','product_name','brand_name','review_date']], left_on='source_review_id', right_on='source_review_id',how='outer')

In [11]:
out_prod_tree_date=out_prod_tree_date.drop_duplicates()

In [12]:
out_prod_tree_date.dropna(subset=['brand_name'],inplace = True)

In [13]:
len(out_prod_tree_date.index)

23711

In [14]:
i=1
out_t_sent=[]
map_comp_tree = out_prod_tree_date.brand_name.unique()
x=[]
for loc in map_comp_tree:
    loc = str(loc)   #here 'nan' is converted to a string to compare with if
    if loc != 'nan':
        x.append(loc)
map_comp_tree=x
#print map_comp_tree
#colu = ["Brand_name","Trend_Total_Reviews","Month","Year","positive"]
for c in map_comp_tree:
    print c
    cnt_p = 0
    cnt = 0
    cnt_n=0
    comp_rev = out_prod_tree_date[out_prod_tree_date.brand_name == c]
    company = c
    for i in range (1,13):
        cnt =0
        cnt_p =0
        cnt_n=0
        for row in comp_rev.to_dict("records"):
            dt = dateutil.parser.parse(row['review_date'])
            if dt.year == today.year - 1:
                year = dt.year
                if dt.month == i:
                    if row['sentiment_type'].strip() == 'negative':
                        cnt_n = cnt_n+1
                    else:
                        cnt_p =cnt_p+1
                    cnt = cnt +1
      #  print cnt
        if cnt > 0 :
            pos = (float(cnt_p/float(cnt))*100)
            #print pos
            row2 = [company,cnt,i,year,pos]
            out_t_sent.append(row2)
out_t_sent=pd.DataFrame(out_t_sent)        
#out_t_sent.columns=colu

Head & Shoulders
Pantene
l'oreal
Dove

In [15]:
colu = ["Brand_name","TotalPositive__Reviews","Month","Year","positive"]
out_t_sent.columns=colu
out_t_sent.to_csv("2_positive_percentage_fragmentswise_for_last_year_shampoo.csv",index=False)

In [22]:
out_t_sent_hs = out_t_sent[out_t_sent.Brand_name != "Pantene"]

In [178]:
i=1
out_t_sent_rank=[]
#map_comp_tree = out_prod_tree_date.brand_name.unique()
map_comp_tree = out_prod_tree_date.brand_name.unique()
x=[]
for loc in map_comp_tree:
    loc = str(loc)   #here 'nan' is converted to a string to compare with if
    if loc != 'nan':
        x.append(loc)
map_comp_tree=x
comp_map_source = out_prod_tree_date.source.unique()
#print map_comp_tree
colu = ["Brand_name","Total_positive_fragments","Total_review_fragments","Total_positive percentage"]
for s in comp_map_source:
    if s == 1:
        source = "Flipkart"
        total_pos = "Flipkart_total_positive"
        total_src ="Flipkart_total_reviews"
    if s == 3:
        source = "Amazon"
        total_pos = "Amazon_total_positive"
        total_src ="Amazon_total_reviews"
    if s == 5:
        source = "Nyka"
        total_pos = "Nyka_total_positive"
        total_src ="Nyka_total_reviews"

    colu.append(total_pos)
    colu.append(source)
    colu.append(total_src)


for c in map_comp_tree:
    comp_rev = out_prod_tree_date[out_prod_tree_date.brand_name == c]
    total = len(comp_rev.index)
    #comp_rev_source = comp_rev.source_y.unique()
    comp_rev_pos = comp_rev[comp_rev.sentiment_type == 'positive']
    total_pos = len(comp_rev_pos.index)
    if total == 0:
        total =1
    row2 = [c,total_pos,total,float(total_pos/float(total))]
    for s in comp_map_source:
        comp_rev_source_1 = comp_rev[comp_rev.source == s]
        total_source = len(comp_rev_source_1.index)
        if total_source == 0:
            comp_rev_pos_source = comp_rev_source_1[comp_rev_source_1.sentiment_type == 'positive']
            total_pos_source = len(comp_rev_pos_source.index)
            row2.append(total_pos)
            row2.append(0)
            row2.append(0)
        else:    
            comp_rev_pos_source = comp_rev_source_1[comp_rev_source_1.sentiment_type == 'positive']
            total_pos_source = len(comp_rev_pos_source.index)
            row2.append(total_pos_source)
            row2.append(float(total_pos_source/float(total_source))*100)
            row2.append((total_source))
    out_t_sent_rank.append(row2)
out_t_sent_rank=pd.DataFrame(out_t_sent_rank)        
out_t_sent_rank.columns=colu
out_t_sent_rank.dropna(subset=['Brand_name'],inplace = True)
out_t_sent_rank.to_csv("4_task_positive_percentage_shampoo_source_wise2.csv",index=False)

In [162]:
out_t_sent_rank.to_csv("4_task_positive_percentage_lipstick_source_rank.csv",index=False)

In [92]:
out_t_sent_rank['Total_positive_fragments'].sum()

85088

In [179]:
(out_prod_tree_date.brand_name.unique())

array(['Head & Shoulders', 'Pantene', "l'oreal", 'Dove'], dtype=object)

In [30]:
out_t_sent_pg.Brand_name.unique()

array(['Head & Shoulders', 'Pantene'], dtype=object)

In [31]:


out_t_sent_pg.to_csv("pg.csv",index=False)

In [29]:

out_t_sent_pg

          Brand_name  TotalPositive__Reviews  Month  Year   positive
0   Head & Shoulders                      36      1  2017  86.111111
1   Head & Shoulders                      75      2  2017  78.666667
2   Head & Shoulders                      99      3  2017  69.696970
3   Head & Shoulders                      56      4  2017  80.357143
4   Head & Shoulders                     143      5  2017  72.727273
5   Head & Shoulders                      92      6  2017  79.347826
6   Head & Shoulders                      84      7  2017  72.619048
7   Head & Shoulders                      95      8  2017  62.105263
8   Head & Shoulders                     200      9  2017  72.000000
9   Head & Shoulders                      75     10  2017  73.333333
10  Head & Shoulders                      48     11  2017  89.583333
11  Head & Shoulders                     120     12  2017  70.000000
12           Pantene                     129      1  2017  82.170543
13           Pantene                     119      2  2017  85.714286
14           Pantene                      63      3  2017  68.253968
15           Pantene                      29      4  2017  72.413793
16           Pantene                     109      5  2017  69.724771
17           Pantene                      58      6  2017  56.896552
18           Pantene                      88      7  2017  79.545455
19           Pantene                      89      8  2017  71.910112
20           Pantene                     560      9  2017  84.107143
21           Pantene                     320     10  2017  81.250000
22           Pantene                      38     11  2017  76.315789
23           Pantene                     311     12  2017  76.527331

In [27]:
out_t_sent_pg = out_t_sent[out_t_sent.Brand_name != "Dove"  ]

In [28]:
out_t_sent_pg = out_t_sent_pg[ out_t_sent_pg.Brand_name != "l'oreal"]